@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You Have Entered The World of Superheroes</h1>
    <p> Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/Images/MeteorMan.jpg" height="750" width="885" alt="Meteor Man" asp-append-version="true" />
    <a href =""
</div>