@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You Have Entered The World of Superheroes</h1>
    <p> (Pictured below) <i>An underrated superhero: "Meteor Man"</i> </p>
    <img src="~/Images/MeteorMan.jpg" height="750" width="785" alt="Meteor Man" asp-append-version="true" />
    <a href =""
</div>