@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You Have Entered The World of Superheroes</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <br />
    <img src="~/Images/MeteorMan.jpg" class="rounded-circle"height="40" width="40" asp-append-version="true" />
</div>